---
title: Términos del servicio
---

<section id="page">
  <div class="container">
    <h1>TÉRMINOS DEL SERVICIO</h1>
    <h3>Última revisión 03 de Marzo 2015</h3>

    <p><i>Cheers!!</i> ("Nosotros", la  "Aplicación") le sugiere leer todas las condiciones del servicio para garantizar el
      entendimiento mutuo con los usuario de la aplicación. Antes de usar cualquiera de los servicios prestados por la
      aplicación, deberá leer, entender y aceptar los <strong>Términos del Servicio</strong> descritos en el presente acuerdo. También debe
      ser consciente de que estos <strong>Términos del Servicio</strong> podrán estar sujetos a modificaciones sin previo aviso. En caso de
      estar en desacuerdo, le aconsejamos no hacer uso de la aplicación o acceder a cualquiera de su contenido.
    </p>

    <h2>ACEPTACIÓN</h2>

    <p>Al acceder a la Aplicación o ha su contenido, incluyendo su página web <a href="/">cheersapp.io</a> ya sea a través de un
      dispositivo móvil, aplicación móvil o una computadora; usted acepta y está de acuerdo con las Políticas de Uso
      anunciadas y establecidas en el presente acuerdo. Los términos aplicarán si se crea o no una cuenta en la
      aplicación móvil. </p>

    <h2>RESTRICCIÓN DE EDAD</h2>

    <p><i>Cheers!!</i>  y su sitio web están dirigidos a un público en general con una edad mínima de diez (10) años.
      Cualquier persona menor a dicha edad, no le está permitido hacer uso de nuestra aplicación, ni nuestro sitio web.
      Al entrar, descarga y hacer uso de nuestra aplicación, entiende y asegura que usted está actuando en libre albedrío,
      así admitiendo que usted tiene el derecho, autoridad y capacidad para cumplir con todos los términos aquí expresados.
      Al crear una cuenta, usted afirma que nunca ha sido encontrado culpable de delito grave y que es libres de cargas que
      lo registren como delincuente sexual ante cualquier entidad gubernamental.

    </p>

    <h2>CREAR UNA CUENTA</h2>

    <p>Para utilizar <i>Cheers!!</i>, usted deberá iniciar sesión con una cuenta de Facebook o Google+ con la cual realizará inicio
      de sesión facilitando su número de teléfono y una cuenta de correo electrónico. Usted es responsable de los datos que
      usted proporciona; entre más actualizados los datos, más útil será la aplicación para sus requerimientos específicos.</p>

    <p>Debe ser conscientes que mediante el uso de su cuenta de Facebook o Google+ para el registro, usted nos autoriza a
      acceder, recoger y analizar cierta información personal, como su lista de contactos y la localización del lugar donde
      comparte la información que obtenemos a través de nuestra aplicación. Para más información respecto a la información
      que obtenemos de usted y cómo la utilizamos, puede consultar nuestra <a href="/es/legal/privacy">Política de Privacidad</a>.
    </p>

    <h2>MODIFICACIÓN</h2>

    <p>Nos reservamos el derecho y la voluntad para cambiar, modificar, incluir o eliminar fragmentos de este Acuerdo
      en cualquier momento que lo consideramos necesario. Se le notificará de los cambios a través de correo electrónico
      a la última dirección de correo electrónico que usted ha proporcionado. Le solicitamos revisar y volver a leer los
      <strong>Términos de Servicio</strong> periódicamente para estar actualizado sobre los últimos cambios y modificaciones. En el caso
      de cuentas de correo electrónico obsoletos, no somos responsables de la entrega no inmediata de las notificaciones.
      Usted es responsable de proporcionar información precisa y reciente. Si continúa utilizando nuestra aplicación
      después de que hemos modificado y notificado los cambios en este Acuerdo, usted acepta los cambios establecidos
      en los <strong>Términos de Servicio</strong>.
    </p>

    <h2>SEGURIDAD DE LA CUENTA</h2>

    <p>La responsabilidad de mantener confidencial la información personal que usted proporciona durante el registro es
      totalmente suya y usted es responsable de todas las actividades que ocurran bajo cualquiera de sus cuentas utilizadas
      para registrarse e iniciar sesión. Usted se compromete a informar de cualquier uso sospechoso o comportamiento que
      pudiera poner en peligro la seguridad de sus datos personales contactándonos a <a href="mailto:support@cheersapp.io">support@cheersapp.io</a> y asegurándose
      de que usted emplea la aplicación de manera responsable.
    </p>

    <h2>PROHIBICIONES Y COMPORTAMIENTO DE LOS USUARIOS</h2>

    <p><i>Cheers!!</i> posee el derecho a investigar, suspender y/o cancelar la cuenta que ha creado si se descubre que
      han realizado mal uso de la Aplicación comportándose de manera abusiva o ilegal, incluyendo aquellas acciones que
      podrían ocurrir fuera de la aplicación y que involucra a usuarios que ha contacto a través de la aplicación.
      La siguiente lista es una cuenta parcial de las acciones que no pueden estar involucradas durante el uso de
      la aplicación. Usted no podrá:
    </p>

    <ul>
      <li>Hacerse pasar por otra persona o entidad.</li>
      <li>Solicitar dinero a cualquier usuario.</li>
      <li>Acosar o "acechar" a cualquier usuario.</li>
      <li>Utilizar la aplicación para cometer delitos o conductas ilícitas.</li>
      <li>Recoger información de contacto de los usuarios para enviar correos electrónicos no autorizados (spam).</li>
      <li>Transmitir cualquier software que contenga virus o cualquier otro código de computadora, archivos o programas diseñados para interrumpir, destruir o limitar la funcionalidad de cualquier software, hardware o equipo de telecomunicaciones.</li>
      <li>Acceder ilegalmente a la aplicación.</li>
      <li>Modificar, adaptar, sublicenciar, traducir, vender, realizar ingeniería inversa, descifrar, descompilar o desensamblar cualquier parte del software utilizando la aplicación, o provocar a terceros a hacerlo.</li>
      <li>Copiar cualquier parte de la aplicación sin nuestro permiso.</li>
      <li>Publicar, usar, transmitir o distribuir, directa o indirectamente, en cualquier forma o medio contenido o información obtenida de la aplicación que no sea en relación con su uso de la Aplicación de conformidad con el presente acuerdo.</li>
      <li>Utilizar cualquier referencia a Cheers!! o de la aplicación (o cualquier marca, nombre comercial, marca de servicio, logotipo o lema de la aplicación) para dirigirse a cualquier persona o a cualquier otro sitio para cualquier propósito.</li>
      <li>Crear encabezados o manipular identificadores para disfrazar el origen de cualquier información transmitida a través de la aplicación (ya sea directamente o indirectamente a través del uso de software de terceros).</li>
      <li>Utilizar la aplicación para cometer delitos y hechos punibles.</li>
    </ul>

    <h2>PROPIEDAD Y DERECHOS INTELECTUALES</h2>

    <p><i>Cheers!!</i> posee y retiene todos los derechos de propiedad intelectual de la aplicación, en todos los contenidos,
      marcas, nombres comerciales, marcas de servicio y otros derechos de propiedad intelectual relacionados con los mismos.</p>

     <p>Usted acepta no copiar, modificar, transmitir, crear, o derivar cualquier trabajo, hacer uso, o reproducir cualquiera
       de los contenidos de la aplicación en materia de protección de propiedad intelectual.
    </p>

    <h2>DURACIÓN Y TERMINACIÓN</h2>

    <p><i>Cheers!!</i> podrá dar por terminado el presente Acuerdo y su uso de la Aplicación en cualquier momento. Tendrá derecho
      a rescindir inmediatamente del uso de la Aplicación en el caso de considerar inapropiada cualquier conducta a
      nuestra discreción, se considere inaceptable, o ante el cualquier incumplimiento por su parte del presente Acuerdo.
    </p>
  </div>
</section>