---
title: Terms of service (TOS)
---

<section id="page">
  <div class="container">
    <h1>TERMS OF SERVICE (TOS)</h1>
    <h3>Last revised on March 3rd - 2015</h3>

    <p><i>Cheers!!</i> (“We,” “Us,” “Our,” the “Application”) strongly suggests you read all the following <strong>Terms of Service</strong> to
      ensure mutual understanding between us and the user of the Application. Before using any of the services provided
      by the application, you must have read, understood, and agreed to be bound by the <strong>Terms of Service</strong> compiled within
      this agreement. You must be aware that the conditions under this Agreement might be subject of modifications,
      without previous notification. In case of disagreement, we compel you do not use the Application or access any of
      its related content.
    </p>

    <h2>ACCEPTANCE</h2>

    <p>By accessing the Application or any of its related content, including its website <a href="/">cheersapp.io</a> whether through
      a mobile device, mobile Application or a computer, you accept and agree to be bound to the policies of use here on
      announced and established. The terms start applying whether you create or not an account on the Application. </p>

    <h2>AGE RESTRICTION</h2>

    <p><i>Cheers!!</i> and its related website are directed to a general public with a minimum age of ten (10) years old.
      Anyone under that age is not allowed to use our Application nor our website. By entering, downloading, and using
      our Application, you render and assure that you are acting in free will, as well as admitting that you have the
      right, authority and capacity to fulfill all the terms hereby expressed. By creating an account, you state that
      you have never been found guilty of felony and that you are free of charges that register you as a sex offender
      with any government entity.
    </p>

    <h2>CREATING AN ACCOUNT</h2>

    <p>To use <i>Cheers!!</i>, you have to sign in using the Facebook or a Google+ account in which you are logged in on
      your mobile phone, providing a mobile phone number, and an email account. You are responsible for the account
      details you provide, the most updated they are, the most useful the Application is going to be for your specific
      requirements.</p><p>You have to be aware that by using your Facebook or Google+ accounts to sign in, you authorize us
    to access, collect, and analyze certain information, such as your list of contacts and the localization of the
    place you use to share your contact information through our Application. For more information regarding the data
    we collect from you and how we use it, please consult our <a href="/legal/privacy">Privacy Policy</a>.
  </p>

    <h2>MODIFICATION</h2>

    <p>We entirely  hold the right, at our will, to change, modify, include, or remove fragments of this Agreement at
      any time we consider necessary. You will be notified of the changes via E-mail to the last E-mail address you have
      provided. We request you to check and re-read the Terms of Service periodically to be updated on the changes and
      modifications. In case of outdated E-mail accounts, we are not responsible for the not immediate delivery of
      notifications. You are in charge of providing accurate and recent information. If you continue using our
      Application after we have modified and notified the changes in this Agreement, you automatically accept those
      changes in the <strong>Terms of Service</strong>.
    </p>

    <h2>ACCOUNT SECURITY</h2>

    <p>The responsibility for reserving the confidentiality of your personal information you provide during the registration
      is entirely yours, and you are responsible for all the activities that occur under any of your accounts used to sign
      in and log in. You agree to inform us any suspicious use or behavior that might threaten the safety of your personal
      data at <a href="mailtto:support@cheersapp.io">support@cheersapp.io</a> and please ensure that you employ the Application
      responsibly. </p>

    <h2>PROHIBITIONS AND BEHAVIOR OF USERS</h2>

    <p>Cheers!! possesses the right to investigate, suspend and/or terminate the account you have created if you are found
      to have been misusing the Application or behaving in an improper or unlawful manner, including those actions that
      might happen off the Application but involve users you have contacted through the Application.  The following list
      is a partial account of the actions you may not be involved in with the Application. You will not:</p>

    <ul>
      <li>Impersonate any person or entity</li>
      <li>Request money from any users</li>
      <li>Harass or “stalk” any user</li>
      <li>Use the Application to commit crimes or unlawful behavior</li>
      <li>Collect contact information of users to send unauthorized E-mails (spam)</li>
      <li>E-mail or otherwise transmit any software containing viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment</li>
      <li>Illegally access the Application</li>
      <li>Modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Application or the software used for the Application, or cause others to do so</li>
      <li>Frame or mirror any part of the Application without our permission</li>
      <li>Post, use, transmit or distribute, directly or indirectly in any manner or media content or information obtained from the Application other than solely in connection with your use of the Application in accordance with this Agreement</li>
      <li>Use any reference to Cheers!! or the Application (or any trademark, trade name, service mark, logo or slogan of the Application) to direct any person to any other website for any purpose</li>
      <li>Create headers or manipulate identifiers in order to disguise the origin of any information transmitted to or through the Application (either directly or indirectly through use of third party software)</li>
      <li>Use the Application to commit crimes and punishable deeds.</li>
    </ul>

    <h2>OWNERSHIP AND PROPERTY OF RIGHTS</h2>

    <p><i>Cheers!!</i> owns and retains all proprietary rights in the Application, and in all content, trademarks, trade
      names, service marks and other intellectual property rights related thereto.</p>
    <p>You accept not copying, modifying, transmitting, creating, or deriving any work from, make use of, or reproduce any
      of the contents subject of intellectual property protection.
    </p>

    <h2>TERM AND TERMINATION</h2>

    <p><i>Cheers!!</i> may terminate this Agreement and your use of the Application at any time. Cheers!! will have the
      right to terminate immediately your use of the Application in the event of any conduct by you which Cheers!!, in
      its sole discretion, considers to be unacceptable, or in the event of any breach by you of this Agreement.</p>
  </div>
</section>