---
title: Cheers
description: algo que ahcer
---
<section id="intro">
  <div class="container">
    <div class="message">
      <h1 class="title"><%= t('sections.message.title') %></h1>
      <h3 class="subtitle"><%= t('sections.message.subtitle') %></h3>
    </div>
  </div>
</section>