---
title: Política de privacidad
---

<section id="page">
  <div class="container">
    <h1>POLÍTICA DE PRIVACIDAD</h1>
    <h3>Última revisión 03 de Marzo 2015</h3>
    <p>
      <em>Cheers!!</em> ("Nosotros", la "Aplicación") respetamos su privacidad. Cada vez que usted hace uso de la Aplicación, recopilamos información acerca de usted y la utilizamos para facilitar y mejorar nuestros servicios. Estudios de mercado podrían llevarse a cabo y ser compartidos con empresas y terceros interesados en realizar publicidad “conductual” “objetiva”. Queremos que entienda claramente que su información podría ser utilizada y cuáles serán sus opciones de privacidad.
    </p>
    <p>
      Nuestra <strong>Política de Privacidad </strong>explica qué información recopilamos, cómo la usamos, cómo otras empresas podrían usarla, y las tecnologías de rastreo utilizadas para recopilar información. En caso de efectuar un cambio en las políticas, actualizaremos esta página y le informaremos. Si tiene alguna inquietud, duda o pregunta, le pedimos que nos escriba por correo electrónico a <a href="mailto:support@cheersapp.io">support@cheersapp.io</a>
    </p>
    <h2>INFORMACIÓN RECOPILADA</h2>
    <p>
      Cuando se utiliza la aplicación, automáticamente recopilamos información acerca de su dispositivo móvil y sus actividades. Esta información incluye:
    </p>
    <ul>
      <li>Número de identificación único de su dispositivo móvil;</li>
      <li>Información técnica sobre su dispositivo móvil (tal como puede ser el tipo de dispositivo, navegador web o sistema operativo);</li>
      <li>Sus preferencias y configuración (zona horaria, idioma, etc.);</li>
      <li>La ubicación geográfica de su dispositivo móvil (ubicación geográfica específica, si ha habilitado la colección de esa información, o la ubicación geográfica general automática);</li>
      <li>Cuánto tiempo utiliza nuestras aplicaciones y cuáles servicios y funciones usted utiliza.</li>
    </ul>
    <h2>INFORMACIÓN QUE USTED ELIGE PROPORCIONAR</h2>
    <p>
      Usted proporcionará su nombre, dirección de correo electrónico, número de teléfono, e información demográfica (edad, sexo, etc.). Usted debe proporcionar esta información directamente, o puede optar por registrarse utilizando su cuenta de Facebook o Google+ en cuyo caso usted nos autoriza a acceder a cierta información de su perfil de Facebook o Google+; incluyendo su nombre, apellido, sexo, fecha de nacimiento y dirección de correo electrónico. Usted no está obligado a proporcionar este tipo de información. Pero si usted no proporciona la información necesaria, no podrá utilizar algunos de los servicios que ofrecemos. Si usted lo desea, podrá eliminar la información de su cuenta; para hacerlo, por favor envíe un correo electrónico a <a href="mailto:support@cheersapp.io">support@cheersapp.io</a> explicando las razones por la cuales desea eliminar sus datos.
    </p>
    <h2>USO DE LA INFORMACIÓN</h2>
    <p>
      En general, podemos utilizar la información recopilada sobre usted para:
    </p>
    <ul>
      <li>Asistir y mejorar la aplicación, y administrar nuestras actividades;</li>
      <li>Gestionar su cuenta y ofrecerle servicio al cliente;</li>
      <li>Realizar investigaciones y análisis sobre el uso de, o interés en, nuestros o otros productos, servicios o contenidos;</li>
      <li>Comunicarnos con usted por correo electrónico, correo postal, teléfono y/o dispositivos móviles sobre nuestro producto o servicios que puedan ser de su interés, ya sea a nombre nuestro o de terceros;</li>
      <li>Desarrollar, desplegar, y rastrear contenido y publicidad adaptadas a sus intereses en nuestra aplicación y otros sitios, incluyendo proveer anuncios nuestros cuando visite otros sitios;</li>
      <li>Análisis del sitio web o aplicación móvil;</li>
      <li>Hacer cumplir o ejercer cualquier derecho en nuestros <strong>Términos de Uso</strong>; y</li>
      <li>Realizar funciones o servicios que ya han sido descritos a usted en el momento de la recolección de información.</li>
    </ul>
    <h2>USO DE LA INFORMACIÓN POR OTRAS EMPRESAS</h2>
    <p>
      Compartimos la información del usuario con otras empresas de acuerdo a distintos intereses. La información que ponemos a disposición de otras empresas depende del tipo de relación que hemos establecido con aquellas empresas. En general, se requiere que estas empresas mantengan la información de nuestros usuarios confidencial.
    </p>
    <p>
      <em>Proveedores de Servicios: </em>Nosotros podríamos compartir todo tipo de información que recopilamos con proveedores que ofrecen servicios (como transcripción de voz, correo electrónico, mensajería SMS, y procesos de pagos) como también realizar encuestas y sorteos a nuestro nombre.
    </p>
    <p>
      <em>Anunciantes:</em> Los anunciantes y redes publicitarias utilizan tecnologías de seguimiento para recopilar información sobre los equipos de los usuarios, dispositivos móviles y sus actividades en línea (por ejemplo, páginas web visitadas y búsquedas hechas), así como ubicación geográfica general para desplegar anuncios orientados a los usuarios . Algunas veces permitimos que estas empresas de publicidad recopilen dicha información cuando usted utiliza nuestros sitios y aplicaciones para que puedan desplegar anuncios orientados a usted.
    </p>
    <p>
      <em>Empresas de analytics: </em>Le permitimos a empresas de analytics utilizar tecnologías de seguimiento para recopilar información sobre las computadoras de nuestros usuarios o dispositivos móviles y sus actividades en línea. Estas empresas analizan la información para ayudarnos a entender cómo se utilizan nuestros sitios y aplicaciones. Ciertas versiones de nuestra aplicación disponen de una opción de "Exclusión de Seguimiento", que le permite optar por no ser rastreado por terceras empresas de analytics.
    </p>
    <p>
      <em>Lo que no compartimos:</em> No proporcionamos a empresas de publicidad o empresas de analitycs su nombre, dirección, correo electrónico o número de teléfono.
    </p>
    <p>
      <br>
      <br>
    </p>
    <p>
      <em>Información Agregada:</em> Podremos revelar públicamente información sobre nuestros usuarios, tales como el número total de nuestros usuarios y sus datos demográficos globales.
    </p>
    <p>
      <em>Asuntos Legales:</em> Podemos revelar información del usuario en respuesta a una solicitud legal, como una citación judicial, una orden judicial, o a demanda del gobierno; para investigar o reportar actividad ilegal; o para hacer cumplir nuestros derechos o defender reclamaciones. También podemos transferir su información a otra empresa en el marco de una reestructuración corporativa, como una venta, fusión o en el caso de un procedimiento de quiebra.
    </p>
    <h2>TECNOLOGÍAS DE RASTREO </h2>
    <p>
      <em>Información recopilada automáticamente: </em>Recopilamos información automáticamente desde su dispositivo móvil cuando se utiliza la aplicación. Esta información puede incluir su idioma, el sistema operativo utilizado por el dispositivo, métricas de uso y la ubicación geográfica de su dispositivo móvil mientras la aplicación está activa.
    </p>
    <h2>PROTECCIÓN DE SU INFORMACIÓN</h2>
    <p>
      Proteger su información personal al acceso no autorizado y su divulgación es nuestra prioridad y tomamos acción constantemente al respecto. Sin embargo, ningún sistema puede ser completamente seguro. Por lo tanto, tomamos medidas para asegurar su información; no prometemos, y usted no debería esperar, que su información personal permanezca 100% segura. Los usuarios también deberán tener cuidado con el manejo de su información personal y deben evitar el envío de información confidencial a través de correos electrónicos inseguros. Por favor, consulte el sitio web de la Comisión Federal de Comercio en <a href="http://www.ftc.gov/bcp/menus/consumer/data.shtm">http://www.ftc.gov/bcp/menus/consumer/data.shtm</a> para obtener información sobre cómo protegerse contra el robo de identidad.
    </p>
    <h2>PRIVACIDAD EN NIÑOS</h2>
    <p>
      Aunque Cheers es una aplicación para una audiencia en general, restringimos su uso a personas mayores de 10 años de edad. No recopilamos, mantenemos o utilizamos la información personal de niños menores de 10.
    </p>
    <h2>INFORMACIÓN DE LOS USUARIOS FUERA DE LOS ESTADOS UNIDOS</h2>
    <p>
      Si usted está fuera de los Estados Unidos, su información será enviada y almacenada en los Estados Unidos, donde se encuentran nuestros servidores. Mediante el uso de nuestros sitios y aplicaciones, usted está de acuerdo a la recopilación de información, el uso y el intercambio de prácticas descritas en nuestra <strong>Política de Privacidad</strong>.
    </p>
  </div>
</section>