---
title: Privacy policy
---

<section id="page">
  <div class="container">
    <h1>PRIVACY POLICY</h1>
    <h3>Last revised on March 3rd - 2015</h3>

    <p>
      <em>Cheers!!</em> (“We,” “Us,” “Our,” the “Application”) respects your privacy. Every time you make use of the Application, we collect information about you and use it to facilitate and improve our services. Market research might be conducted to share to companies and third parties interested in “targeted” or “behavioral” advertising. We want you to thoroughly understand how your information is going to be used and what are your privacy options.
    </p>
    <p>
      This Privacy Policy explains what information we collect, how we use it, how other companies may use it, and the tracking technologies used to collect information. In case those policies change, we will update this page and inform you. If you have a concern, doubt or question, we request you E-mail us at <a href="mailto:support@cheersapp.io">support@cheersapp.io</a>
    </p>

    <h2>INFORMATION COLLECTED</h2>

    <p>
      When you use the Application, we automatically collect information about your mobile device and your activities. This information includes:
    </p>

    <ul>
      <li>Your mobile device's unique ID number;</li>
      <li>Technical information about your mobile device (such as type of device, web browser or operating system);</li>
      <li>Your preferences and settings (time zone, language, etc.);</li>
      <li>Your mobile device's geographic location (specific or general geographic location if you've enabled collection of that information automatically);</li>
      <li>How long you used our apps and which services and features you used the most.</li>
    </ul>

    <h2>INFORMATION YOU CHOOSE TO PROVIDE</h2>

    <p>
      You may provide your name, E-mail address, phone number, and demographic information (age, gender, etc.). You may provide this information directly to us or you may choose to register using your Facebook or Google+ accounts in which case you would authorize us to access certain Facebook or Google+ profile information including your first name, last name, gender, birth date and Email address. You do not have to provide any of this information to us. But if you do not provide certain information, you will not be able to use some of the services we offer. If you wish, we will delete your account information; to do so, please send an Email explaining your reasons to have your data deleted to <a href="mailto:support@cheersapp.io">support@cheersapp.io</a>
    </p>

    <h2>USE OF YOUR INFORMATION</h2>

    <p>
      Generally, we may use the information collected about you to:
    </p>
    <ul>
      <li>Deliver and improve the Application, and manage our business;</li>
      <li>Manage your account and provide you with customer support;</li>
      <li>Perform research and analysis about your use of, or interest in, our or others' products, services, or content;</li>
      <li>Communicate with you by Email, postal mail, telephone and/or mobile devices about our product, services that may be of interest to you either from us or other third parties;</li>
      <li>Develop, display, and track content and advertising tailored to your interests on our Application and other sites, including and providing our advertisements to you when you visit other sites;</li>
      <li>Website or mobile application analytics;</li>
      <li>Enforce or exercise any rights in our <strong>Terms of Use</strong>; and</li>
      <li>Perform functions or services as otherwise described to you at the time of collection.</li>
    </ul>

    <h2>USE OF YOUR INFORMATION BY OTHER COMPANIES </h2>

    <p>
      We share user information with other companies following different interests. The information we make available to other companies depends on the type of relationship we have established with them. In general, we require these other companies to keep our users' information confidential.
    </p>

    <h2>SERVICE PROVIDERS</h2>
    
    <p>
      We may share all of the types of information we collect with vendors who provide services (such as voice transcription, Email and SMS messaging, and payment processing), conduct surveys, and run sweepstakes on our behalf.
    </p>
    <p>
      <em>Advertisers: </em>Advertisers and advertising networks use tracking technologies to collect information about users' computers or mobile devices and their online activities (for example, web pages visited and searches made) as well as general geographic location and use that information to display targeted ads to users. We sometimes allow these ad companies to collect such information when you use our sites and apps to enable them to display targeted ads to you.
    </p>
    <p>
      <em>Analytics Companies: </em>We allow analytics companies to use tracking technologies to collect information about our users' computers or mobile devices and their online activities. These companies analyze this information to help us understand how our sites and apps are being used. Certain versions of our App have an "Opt out of Tracking" setting, which permits you to opt out of being tracked by third party analytics companies.
    </p>
    <p>
      <em>What we don't share: </em>We do not provide ad companies or analytics companies with your name, address, email address, phone number.
    </p>
    <p>
      <em>Aggregated Information:</em> We may publicly disclose aggregated information about our users, such as the total number of our users and their overall demographics.
    </p>
    <p>
      <em>Legal Matters:</em> We may disclose user information in response to a legal request, such as a subpoena, court order, or government demand; to investigate or report illegal activity; or to enforce our rights or defend claims. We may also transfer your information to another company in connection with a corporate restructuring, such as a sale, merger or in the event of a bankruptcy proceeding.
    </p>
    <h2>TRACKING TECHNOLOGIES</h2>
    <p>
      <em>Information collected automatically: </em>We automatically collect information from your mobile device when you use the Application. This information could include your language, the operating system used by your device, metric of usage and your mobile device's geographic location while the Application is actively running.
    </p>
    <h2>PROTECTION OF YOUR INFORMATION</h2>
    <p>
      Safeguarding your personal information from unauthorized access and disclosure is our priority and we constantly take actions on this respect. However, no system can be completely secure. Hence, although we take steps to secure your information, we do not promise, and you should not expect that your personal information will always remain secure. Users should also take care with how they handle and disclose their personal information and should avoid sending personal information through insecure Email. Please refer to the Federal Trade Commission's website at
      <a href="http://www.ftc.gov/bcp/menus/consumer/data.shtm">http://www.ftc.gov/bcp/menus/consumer/data.shtm</a> for information about how to protect yourself against identity theft.
    </p>
    <h2>CHILDREN'S PRIVACY</h2>
    <p>
      Although <em>Cheers!!</em> is a general audience Application, we restrict its use to individuals age 10 and above. We do not knowingly collect, maintain, or use personal information from children under the age of 10.
    </p>
    <h2>INFORMATION FROM USERS OUTSIDE THE UNITED STATES</h2>
    <p>
      If you are outside the United States, your information will be sent to and stored in the United States, where our servers are located. By using our sites and apps, you agree to the information collection, use, and sharing practices described in this <strong>Privacy Policy</strong>.
    </p>
  </div>
</section>