#about {

  .container {
    width:740px;
    text-align: center;

    .title {
      font-size:22px;
      margin-bottom:15px;
      color:$semiblack;
      font-family: $regular;
    }
    .content {
      line-height: 2em;
      font:{
        family: $regular;
        size:18px;
      }
    }
  }
}