// General
html,body {
  height:100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: {
    color: $white;
  };
  color:$text-grey;
  font: {
    family: $regular, sans-serif;
    size:14px;
  }
}

a {  text-decoration: none; }

/*  General
    ---------------------------------------------------------- */

// Grids
.container {
  @include container($max-width);
}

.wrapper {
  position:relative;
}

@for $index from 1 through $grid-columns {
  .cheers_#{$index} { @include span($index of $grid-columns); }
}

/*  Grids
    ---------------------------------------------------------- */

// Header
#header {
  padding:30px 0 0 0;
  width: 100%;
  z-index: 2;
  .brand {

    #logo {
      height:64px;
      width:64px;
      display:inline-block;
      position:relative;

      &:hover {
        @extend .rubberBand;
      }

      img {
        width: 100%;
        height:100%;
      }

    }
  }

  .navegation {
    padding:0;
    margin: 0;
    list-style: none;
    text-align: right;
    > li {
      display:inline-block;
      position:relative;
      padding:20px 0 0 0;
      text-transform: uppercase;
      margin:0 10px;
      > * {
        color: $brand;

        &:hover {
          color: lighten($brand, 20%);
        }
      }
    }

    .languague {
      cursor:pointer;
      span {
        display:block;
        margin-bottom:10px;
      }
      /*
      &:hover {
        .dropdown {
          display:block;
          @extend .flipInX;
        }
      }*/
    }
    .dropdown {
      display:none;
      position:absolute;
      list-style: none;
      text-align: left;
      margin:0;
      padding:0;
      z-index:999;
      background:$brand;

      @include border-radius(3px);
      li {
        display:block;
        a {
          text-transform: capitalize;
          color:$white;
          display:block;
          padding:5px 10px;

          &:hover { color: lighten($brand, 30%); }
        }
      }
    }
  }
}
/*  Header
    ---------------------------------------------------------- */

section {
  @include box-sizing(border-box);
}

#footer {
  padding:40px 0;
  text-align: center;
  
  ul {
    margin:0;
    padding:0;

    li {
      list-style: none;
      display: inline-block;

      a {
        display:none; //OCULTE EL FOOTER
        padding:5px 15px;
        color:$text-grey;
      }
    }
  }
}

//iPhone 6 in portrait & landscape
@media only screen
and (min-device-width : $min)
and (max-device-width : $max) {

  body {
    font: {
      size:16px;
    }
    line-height: 1.5em;
  }

  #header {
    .brand {
      #logo {
        margin:0 10px;
      }

      .navegation {

      }
    }
  }

  section {
    text-align: center;
  }
}


.android-download {
  background:#6d21a2;
  display: none;
  margin:0;
  padding:1px 0;
  color:#fff;
  z-index: 999;
  
  .call-to-download {
    display:inline-block;
    width:60%;
    text-align: left;
    padding:0 10px;
    box-sizing: border-box;
    p {
      font-size:12px;
    }
    strong {
      font-size: 14px;
      font-weight: bold;
      display: block
    }
  }

  .download-button {
    display: inline-block;
    width:40%;
    text-align: right;
    padding:0 10px;
    box-sizing: border-box;

    a {
      display: block;
      width:100%;

      img {
        max-width: 100%;
      }
    }
  }
  
}


.shadow{
  pointer-events:none;
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  @include degrade(rgba(white, 0), rgba(white, 1));
  padding:100px 0 0;
  color:$brand;
}


