#intro {
  min-height:100%;
  padding:120px 0;
  @include box-sizing(border-box);
  background: {
    image: url('/images/cheers6ai.png');
    size: 120%;
    position: center;
    repeat:no-repeat;
  }

  .message {
    margin:0 auto;
    width:50%;

    .title {
      color:$brand;
      font: {
        family: $semibold;
      }
    }
  }
}