#intro {

  padding:20px 0 0 0;

  background: {
    //image: url('/images/cheers6ai.png');
    size: 100%;
    position: center;
    repeat:no-repeat;
  }

  .hand {
    display:inline-block;
    max-width: 50%;
    position:relative;
    top:-20px;
    z-index:2;
    pointer-events:none;

    &.left {
      @extend .bounceInLeft;
    }

    &.right {
      @extend .bounceInRight;
    }
  }



  .message {
    position: relative;
    z-index:3;
    margin:0 auto;
    width:440px;
    text-align: center;

    .title {
      color:$semiblack;
      font: {
        family: $regular;
        size:24px;
      }
    }

    .subtitle {
      color:$text-grey;
      line-height: 2em;
    }
  }
}

@media only screen
and (min-device-width : $min)
and (max-device-width : $max) {
  #intro {
    min-height: 100%;
    padding-top:20px;

    .message {
      width:80%;

      .title {
        font: {
          size:20px;
        }
      }

      .subtitle {
        line-height: 1.5em;
      }

    }

    img  {
      top:0px;
    }
  }
}