#invite {
  padding:15px 0 80px 0;
  .container {
    width:440px;
    text-align: center;
    h4 {
      color:$text-grey;
      line-height: 2em;
      font: {
        family: $regular;
        size:16px;
      }
    }

    .welcome {
      display:none;

      h4 {
        color:$brand;
        font: {
          size:23px;
        }
      }
    }

    .input-group {
      display:block;
      margin-top:60px;

      .email {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding:15px;
        border:1px solid $text-grey;
        color:$semibrand;
        width:70%;
        &:focus {
          outline: none;
          border-color:$brand;
          color:lighten($brand, 15%);
        }

        &.not-valid {
          border:1px solid $red;
          color:$red;
        }

        &.valid {
          border:1px solid $green;
          color:$green;
        }
      }

      .button {
        width:22.5%;
        padding:15px;
        background:$brand;
        color:$white;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border:1px solid $brand;

        &:focus {
          outline:none;
        }

        &.not-valid {
          background: $red;
          border:1px solid $red;
        }

        &.valid {
          border:1px solid $green;
          background:$green;
        }
      }
    }
  }
}

@media only screen
and (min-device-width : $min)
and (max-device-width : $max) {
  #invite {
    .container {
      width:80%;

      .input-group {

        .email, .button {
          display:block;
          width:100%;
          margin:5px auto;
          border-radius: 4px;
        }

        .email {
          @include box-sizing(border-box);
        }
      }
    }
  }
}