// Colors
$brand: #431765;
$white: white;
$semiblack: #343434;
$text-grey: #999999;
$grey: lighten($text-grey, 25%);;


// container
$max-width: 960px;
$grid-columns: 12;

$susy: (
        columns: 12,
        gutters: 1/4,
        output: isolate,
        math: fluid,
        gutter-position: split,
        global-box-sizing: border-box
);

// Fonts
$regular: 'open_sansregular';
$italic: 'open_sansitalic';
$light: 'open_sanslight';
$semibold: 'open_sanssemibold';
$semibold_italic: 'open_sanssemibold_italic';
$light_italic: 'open_sanslight_italic';
