// Colors
$brand: #6d21a2;
$white: white;
$semiblack: #6d21a2;
$semibrand: #434343;
$text-grey: #999999;
$grey: lighten($text-grey, 25%);;

$red: #ff3a38;
$green: #29d437;

// container
$max-width: 960px;
$grid-columns: 12;

$susy: (
        columns: 12,
        gutters: 1/4,
        output: isolate,
        math: fluid,
        gutter-position: split,
        global-box-sizing: border-box
);

// Fonts
$regular: 'open_sansregular';
$italic: 'open_sansitalic';
$light: 'open_sanslight';
$semibold: 'open_sanssemibold';
$semibold_italic: 'open_sanssemibold_italic';
$light_italic: 'open_sanslight_italic';


//responsive
$min: 280px;
$max: 735px;